<template>
  <section id="home">
    <Hero :padding="'p-16'">
      <template #heroTitle>
        <h1
          class="
            text-4xl
            tracking-tight
            font-extrabold
            text-gray-900
            sm:text-5xl
            md:text-6xl
          "
        >
          <span class="block xl:inline">Pangkalan Data Alumni</span>
        </h1>
      </template>
      <template #heroSubtitle>
        <h2 class="text-2xl block text-green-800 xl:inline">
          Madrasah Aliyah Negeri 4 Jakarta
        </h2>
      </template>
      <template #heroButton>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center md:justify-start">
          <div class="rounded-md shadow">
            <a
              href="#"
              class="
                no-underline
                w-full
                flex
                items-center
                justify-center
                px-8
                py-3
                border border-transparent
                text-base
                font-medium
                rounded-md
                text-white
                bg-green-600
                hover:bg-green-700
                md:py-4 md:text-lg md:px-10
              "
            >
              Apa itu Pangkalan Data Alumni?
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a
              href="#"
              class="
                no-underline
                w-full
                flex
                items-center
                justify-center
                px-8
                py-3
                border border-transparent
                text-base
                font-medium
                rounded-md
                text-green-700
                bg-green-100
                hover:bg-green-200
                md:py-4 md:text-lg md:px-10
              "
            >
              Daftarkan Data mu
            </a>
          </div>
        </div>
      </template>
    </Hero>
    <Search :placeholder="'Cari...'" />
    <Card :getAlumniDataDetail="getAlumniDataDetail" @goToProfile="goToProfile"/>
  </section>
</template>
<script>
import Hero from "@/components/Hero.vue";
import Search from "@/components/Search.vue";
import Card from "@/components/Card.vue";
export default {
  components: {
    Hero,
    Search,
    Card,
  },
  data() {
    return {
      logo: {
        default: require("@/assets/img/logo.png"),
        small: require("@/assets/img/logo_sm.png"),
      },
      alumniList: [],
      alumniDetail: [],
    };
  },
  created() {
    this.fetchAlumni();
  },
  computed: {
    getAlumniDataDetail() {
      for (let i = 0; i < this.alumniList.length; i++) {
        this.alumniDetail.push({
          name: this.alumniList[i][0],
          sex: this.alumniList[i][1],
          school_grad: this.alumniList[i][2],
          campus_in: this.alumniList[i][3],
          campus: this.alumniList[i][4],
          major: this.alumniList[i][5] + " " + this.alumniList[i][6],
          jobs:
            this.alumniList[i][7] === "" || this.alumniList[i][7] === "-"
              ? ""
              : this.alumniList[i][7],
          company:
            this.alumniList[i][8] === "" || this.alumniList[i][8] === "-"
              ? "Sedang mencari pekerjaan"
              : "at " + this.alumniList[i][8],
          contact: {
            email: this.alumniList[i][9],
            ig:
              this.alumniList[i][10] === "" || this.alumniList[i][10] === "-"
                ? ""
                : this.alumniList[i][10],
            linkedin:
              this.alumniList[i][11] === "" || this.alumniList[i][11] === "-"
                ? ""
                : this.alumniList[i][11],
          },
        });
      }
      return this.alumniDetail;
    },
  },
  methods: {
    async fetchAlumni() {
      await this.$store.dispatch("getAlumniData");
      const alumniData = this.$store.state.alumniData.values;
      this.alumniList = alumniData;
    },
    goToProfile(data){
      this.$router.push({path: `/profile/${data}`})
    }
  },
};
</script>
