<template>
  <main class="flex flex-row flex-wrap justify-center">
    <div
      id="card-body"
      class="
        bg-white
        shadow-lg
        overflow-hidden
        sm:rounded-lg
        mx-8
        my-4
        lg:w-1/5
        cursor-pointer
      "
      v-for="item in getAlumniDataDetail"
      :key="item.id"
      @click="goToProfile(item)"
    >
      <figure>
        <img src="https://picsum.photos/id/1005/400/250" class="w-full" />
      </figure>
      <section class="p-6">
        <div class="my-3">
          <p class="font-bold mb-2 text-xl md:text-2xl">{{ item.name }}</p>
          <div class="flex">
            <p :class="Number(item.school_grad) % 2 === 0 ? 'rounded-xl text-white w-24 text-center mb-2 p-1 mr-2 bg-teal-600 ' : 'rounded-xl text-white w-24 text-center mb-2 p-1 mr-2 bg-red-600'" title="Angkatan Lulus Sekolah">
              <span class="iconify" data-icon="icon-park-outline:school"></span> 
              {{ item.school_grad }}
              </p>
            <p class="rounded-xl bg-yellow-500 w-24 text-center mb-2 p-1" title="Angkatan Kuliah">
              <span class="iconify" data-icon="map:university"></span> 
              {{ item.campus_in }}
            </p>
          </div>
          <p>{{ item.major }} - {{item.campus_in}}</p>
          <p>{{ item.campus }}</p>
          <p>{{ item.jobs }} {{ item.company }}</p>
        </div>
        <!-- <div class="my-3">
          <h1 class="text-2xl">Kontak</h1>
          <div class="mr-3">
            <div id="desktop-mail">
              <span class="iconify" data-icon="fontisto:email"></span>
              <a @click="goToEmail(item.contact.email)" class="no-underline cursor-pointer text-teal-500">{{item.contact.email}}</a>
            </div>
          </div>
          <div class="mr-3" v-if="item.contact.ig">
            <span class="iconify" data-icon="bi:instagram"></span>
            <a
              @click="goToIg(item.contact.ig)" class="no-underline cursor-pointer text-indigo-500"
              >{{ item.contact.ig }}</a
            >
          </div>
          <div class="mr-3" v-if="item.contact.linkedin">
            <span class="iconify" data-icon="bi:linkedin"></span>
            <a
              @click="goToLinkedin(item.contact.linkedin)" class="no-underline cursor-pointer text-blue-500"
              >{{ item.contact.linkedin }}</a
            >
          </div>
        </div> -->
      </section>
    </div>
  </main>
</template>
<script>
export default {
  props: {
    getAlumniDataDetail: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
  methods: {
    goToProfile(item) {
      const seoName = item.name.toLowerCase().replace(/\s/g, "-");
      this.$emit("goToProfile", seoName);
    },
  },
};
</script>
