<template>
  <main id="search" class="flex justify-center md:p-4 px-6 py-3 ">
    <input
      type="text"
      name=""
      id=""
      :placeholder="placeholder"
      class="shadow-md rounded-md p-3 md:w-2/5 w-full"
    />
  </main>
</template>
<script>
export default {
  props:{
    placeholder: {
      type: String,
      default: () => ''
    }
  }
}
</script>
<style lang="scss" scoped>
  input{
    border: transparent;
  }
</style>
