<template>
  <main id="profile">
    <Hero :padding="'p-2'">
      <template #heroTitle>
        <header class="flex flex-col md:flex-row my-12 mx-10">
          <section id="profile-img">
            <figure class="text-center">
              <img
                class="
                  bg-gray-800
                  p-2
                  inline-block
                  h-32
                  w-32
                  lg:h-48 lg:w-48
                  rounded-full
                  text-center
                "
                src="https://pbs.twimg.com/profile_images/1254779846615420930/7I4kP65u_400x400.jpg"
                alt=""
              />
            </figure>
          </section>
          <section id="profile-data" class="mx-4 self-center">
            <h1
              class="
                text-4xl
                tracking-tight
                font-extrabold
                text-gray-900
                sm:text-5xl
                md:text-4xl
              "
            >
              <span class="text-center capitalize">{{ getName }}</span>
            </h1>
            <p class="text-lg">
              <span class="iconify" data-icon="icon-park-outline:school"></span>
              MAN 4 Jakarta - {{ getProfile.school_graduate }}
            </p>
            <p class="text-lg">
              <span class="iconify" data-icon="map:university"></span>
              {{ getProfile.major }} | {{ getProfile.campus }}
            </p>
            <p class="text-lg">
              <span class="iconify" data-icon="bi:briefcase-fill"></span>
              {{ getProfession }}
            </p>
          </section>
          <section id="profile-contact" class="self-center mx-auto md:ml-auto md:mx-0 my-4 md:my-0">
            <h1 class="text-center md:text-right mb-3">Get in touch with {{ getName }}</h1>
            <div class="text-left md:text-right text-sm md:text-xl font-bold flex flex-wrap md:block">
              <div id="email" class="mr-2">
                <span class="iconify md:hidden" data-icon="fontisto:email"></span>
                <a
                  @click="goToEmail(getProfile.contact.email)"
                  class="no-underline cursor-pointer text-teal-500"
                >
                  {{ getProfile.contact.email }}
                </a>
                <span class="iconify hidden md:inline" data-icon="fontisto:email"></span>
              </div>
              <div id="ig" class="mr-2">
                <span class="iconify md:hidden" data-icon="bi:instagram"></span>
                <a
                  @click="goToIg(getProfile.contact.ig)"
                  class="no-underline cursor-pointer text-indigo-500"
                >
                  {{ getProfile.contact.ig }}
                </a>
                <span class="iconify hidden md:inline" data-icon="bi:instagram"></span>
              </div>
              <div id="linkedin" class="mr-2">
                <span class="iconify  md:hidden" data-icon="bi:linkedin"></span>
                <a
                  @click="goToLinkedin(getProfile.contact.linkedin)"
                  class="no-underline cursor-pointer text-blue-500"
                >
                  {{ getProfile.contact.linkedin }}
                </a>
                <span class="iconify hidden md:inline" data-icon="bi:linkedin"></span>
              </div>
            </div>
          </section>
        </header>
      </template>
    </Hero>
    <!-- <header class="flex my-12 mx-10">
      <section id="profile-img">
        <figure class="text-center">
          <img
            class="
              bg-gray-800
              p-2
              inline-block
              h-32
              w-32
              lg:h-48 lg:w-48
              rounded-full
              text-center
            "
            src="https://pbs.twimg.com/profile_images/1254779846615420930/7I4kP65u_400x400.jpg"
            alt=""
          />
        </figure>
      </section>
      <section id="profile-data" class="mx-4 self-center">
        <h1
          class="
            text-4xl
            tracking-tight
            font-extrabold
            text-gray-900
            sm:text-5xl
            md:text-4xl
          "
        >
          <span class="text-center capitalize">{{ getName }}</span>
        </h1>
        <p>
          <span class="iconify" data-icon="icon-park-outline:school"></span>
          MAN 4 Jakarta - {{ getProfile.graduate }}
        </p>
        <p>
          <span class="iconify" data-icon="map:university"></span>
          {{ getProfile.major }} | {{ getProfile.campus }}
        </p>
        <p>
          <span class="iconify" data-icon="bi:briefcase-fill"></span>
          {{ getProfession }}
        </p>
      </section>
      <section id="profile-contact" class="self-center ml-auto">
        <h1>Get in touch with {{ getName }}</h1>
        <div class="text-right">
          <div id="email">
            {{ getProfile.contact.email }}
            <span class="iconify" data-icon="fontisto:email"></span>
          </div>
          <div id="email">
            {{ getProfile.contact.ig }}
            <span class="iconify" data-icon="bi:instagram"></span>
          </div>
          <div id="email">
            {{ getProfile.contact.linkedin }}
            <span class="iconify" data-icon="bi:linkedin"></span>
          </div>
        </div>
      </section>
    </header> -->
  </main>
</template>
<script>
import Hero from "@/components/Hero.vue";
export default {
  data() {
    return {
      alumniDetail: [],
      alumniProfile: {},
    };
  },
  components: {
    Hero,
  },
  created() {
    this.fetchProfile();
  },
  computed: {
    getName() {
      const name = this.$route.params.user;
      return name.replace(/-/g, " ");
    },
    getProfession() {
      if (this.alumniProfile) {
        const profile = this.alumniProfile;
        if (
          (profile.profession === "" || profile.profession === "-") &&
          (profile.company === "" || profile.company === "-")
        ) {
          return "Sedang mencari pekerjaan";
        }
      }
      return `${this.alumniProfile.profession} at ${this.alumniProfile.company}`;
    },
    getProfile() {
      const data = this.alumniDetail;
      return (this.alumniProfile = {
        school_graduate: data[2],
        campus_in: data[3],
        campus: data[4],
        major: `${data[5]} ${data[6]}`,
        profession: data[7],
        company: data[8],
        contact: {
          email: data[9],
          ig: data[10],
          linkedin: data[11],
        },
      });
    },
  },
  methods: {
    async fetchProfile() {
      const data = this.getName;
      await this.$store.dispatch("getProfileByName", data);
      const alumniDetail = this.$store.state.alumniDetail;
      this.alumniDetail = alumniDetail;
    },
    goToEmail(link) {
      if (link && link !== "-") {
        location.href = "mailto:" + link;
      } else {
        alert("Data tidak lengkap");
      }
    },
    goToIg(link) {
      if (link && link !== "-") {
        location.href = "https://instagram.com/" + link;
      } else {
        alert("Data tidak lengkap");
      }
    },
    goToLinkedin(link) {
      if (link && link !== "-") {
        location.href = "https://linkedin.com/in/" + link;
      } else {
        alert("Data tidak lengkap");
      }
    },
  },
};
</script>
